<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{fragments/head :: head(title='Demande')}"></head>

<body class="layout-boxed">

<div class="page">
    <header th:replace="~{fragments/navbar}"></header>
    <header th:replace="~{fragments/menu}"></header>

    <div class="page-wrapper">
        <!-- Page header -->
        <div th:replace="~{fragments/page_header :: pageHeader(pageTitle='Demande')}"></div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <!-- Content here -->

                <div class="row">
                    <div class="col-12">
                        <form class="card"  th:object="${request}" th:action="@{/request/save}" method="post">
                            <div class="card-header">
                                <a th:href="@{/job/list}" class="btn btn-primary">
                                    Rajouter nouveau produit
                                    <i class="fa-solid fa-list mx-2"></i>
                                </a>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Produit</label>
                                            <select class="form-select" th:field="*{product}">
                                                <option th:each="product: ${productList}" th:text="${product.getDesignation()}" th:value="${product.getId()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Raison</label>
                                            <input type="text" class="form-control" th:field="*{reason}"
                                                   required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Quantite</label>
                                            <input type="number" class="form-control" th:field="*{quantity}"
                                                   required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Type</label>
                                            <select class="form-select" th:field="*{request_type}">
                                                <option th:each="request_type: ${request_typeList}" th:text="${request_type.getDesignation()}" th:value="${request_type.getId()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer d-flex justify-content-end">
                                <button type="submit" class="btn btn-success">
                                    Enregistrer
                                </button>
                            </div>
                            <h2 th:if="${error!=null}" style="color: red">
                                <p th:text="${error}"></p>
                            </h2>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Page footer -->
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</div>

<script th:replace="~{fragments/script}"></script>
</body>

</html>