<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{fragments/head :: head(title='Insertion proforma')}"></head>

<body class="layout-boxed">

<div class="page">

    <div class="page-wrapper">
        <!-- Page header -->
        <div th:replace="~{fragments/page_header :: pageHeader(pageTitle='Création proforma')}"></div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <!-- Content here -->

                <div class="row">
                    <div class="col-12">
                        <form class="card"   th:action="@{/proformat/save}" method="post" id="form">
                            <div class="card-header">
                                Chez <span th:text="${proforma.getSupplier().getName()}" class="badge bg-azure mx-2"></span>
                            </div>
                            <div class="card-body">
                                <div class="row" th:each="proformaDetail : ${proformaDetailsList}">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                <h2>Désignation:</h2>
                                                <div th:text="${proformaDetail.getProduct().getDesignation()}" class="text-center"></div>
                                            </div>
                                            <div class="col-6">
                                                <h2>Quantité voulue:</h2>
                                                <div th:text="${proformaDetail.getPurchase().getQuantity()}" class="text-center"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden"  name="id[]" th:value="${proformaDetail.getId()}" />
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="form-label">
                                                        Prix unitaire
                                                        <i class="fa-solid fa-money-bill mx-1"></i>
                                                    </label>
                                                    <input type="text" name="prix[]" class="form-control" min="0" placeholder="0"
                                                           required />
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Quantite en stock
                                                        <i class="fa-solid fa-box-open mx-1"></i>
                                                    </label>
                                                    <input type="number"  name="quantite[]" class="form-control" min="0" placeholder="0"
                                                           required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer d-flex justify-content-end">
                                <button type="submit" class="btn btn-success">
                                    Envoyer
                                    <i class="fa-solid fa-paper-plane mx-1"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Page footer -->
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</div>

<script th:replace="~{fragments/script}"></script>
</body>

</html>