<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{fragments/head :: head(title='Liste des achats sans commandes')}"></head>

<body class="layout-boxed">

<div class="page">
    <header th:replace="~{fragments/navbar}"></header>
    <header th:replace="~{fragments/menu}"></header>

    <div class="page-wrapper">
        <!-- Page header -->
        <div th:replace="~{fragments/page_header :: pageHeader(pageTitle='Liste des achats à commander')}"></div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <!-- Content here -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="btn btn-primary" th:href="@{/supplier/list}">
                                    Envoyer un bon de commande
                                    <i class="fa-solid fa-paper-plane mx-2"></i>
                                </a>
                            </div>
                            <div class="card-body">
                                <table id="table" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Quantite</th>
                                        <th>Fournisseur</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="purchase,iterStat : ${purchaseList}">
                                        <td th:text="${purchase.getProduct().getDesignation()}"></td>
                                        <td th:text="${purchase.getQuantity()}"></td>
                                        <td th:text="${supplierList[iterStat.index].getName()}">Emp Account</td>
                                        <td>
                                            <a th:href="@{/purchase/generate_order/{id} (id=${purchase.getId()})}" class="btn btn-warning btn-sm">
                                                Ajouter au bon de commande
                                                <i class="fa-solid fa-plus mx-1"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Quantite</th>
                                        <th>Fournisseur</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Page footer -->
        <footer th:replace="~{fragments/footer}"></footer>
    </div>
</div>

<script th:replace="~{fragments/script}"></script>
</body>

</html>